* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-size: 1.6rem;
}

.header-container { 
    background-color: brown;
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container > ul {
    display: flex;
    list-style: none;
    
}

.header-container > ul > li {
    padding:0 3.5rem;
    color: white;
}